<html>
    <head>
        <title>Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">İlk Blogum</a></h2> 
            <p>Nunc quis orci risus. Cras at risus at metus egestas venenatis. Ut tempor imperdiet pretium. Sed gravida nisi rutrum tortor euismod, et dictum metus luctus. Nullam vitae efficitur sem. Sed sit amet tristique felis, sed commodo orci. Suspendisse rutrum laoreet pretium. Vestibulum velit augue, tincidunt eget molestie vitae, pharetra ac diam. Nunc finibus sagittis magna, ac porttitor leo tempor ut. Vivamus vitae feugiat purus. Nunc rhoncus eget lacus ac ornare. Ut sed massa hendrerit, tristique enim eget, ullamcorper ipsum. Aenean vel molestie lacus.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:20</p>
            <h2><a href="">İkinci gönderim</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet tristique lacus. Nulla a ex posuere, aliquam leo hendrerit, luctus turpis. Maecenas sit amet tincidunt ex, vel pretium orci. Nunc ullamcorper metus in lacus venenatis, maximus sodales neque gravida. Donec commodo aliquet eros a cursus. Morbi orci mi, egestas ac nisi feugiat, pretium varius arcu. Vestibulum eu massa vitae dui ultricies maximus. Vestibulum nec arcu nec turpis rutrum ultrices.</p>
        </div>
    </body>
</html>